

<div class="container-fluid" >
<div class="row-fluid">
  
<div class="span4"><h4><%=@item.name%>  Transactions</h4></div>
<div class="span8">
  

            <%=form_tag filter_rep_txnitems_items_path do%>
        <%=text_field_tag :sdate, params[:sdate], { id:'id_sdate', class: 'report-date', style:'height:25px;width:120px;', :placeholder => "From Date"}%>
      <input type="hidden" name="id" value="<%=@item.id%>"/>
       <span style="font-size:18px;"> - </span>
      
        <%=text_field_tag :edate, params[:edate], {id:'id_edate',class: 'report-date', style:'height:25px;width:120px;', :placeholder => "To Date"}%>
          <%=submit_tag "Show" , {class:'btn btn-primary btn-xs', style:'vertical-align: top;', :onclick => "$('#myspinner').show()"}%>
           <%= button_tag("Clear", {  class:'btn btn-primary btn-xs', style:'vertical-align: top;', :onclick => "$('#myspinner').show(); clear_fields(); return;"}) %>
          
         
          <span id='myspinner' style="display:none;"><%=image_tag "ajax-loader.gif"%></span>
      <%end%>

          </span>
</div>

</div>

</div>


<span>


<div id="trs" class="row-fluid">
   <div class="span12">
<table class="table zebra-striped table-condensed" style='font-size:12px;width:80%' align="center">
  <thead style="background-color:#993300;color:#FFFFFF">
    <th>Date</th>
    <th>Site</th>
    <th>Contact</th>
    <th>Number</th>
    <th>Price</th>
    <th>Amount</th>
    
  </thead>
  <tbody>
   <% i = 0
    @txn_items.each{|c|
     i+= 1 %>
    <%if i%2 == 0%>
       <tr>
    <%else%>
       <tr class="info">
    <%end%>
    <td><%=c.transaction.on_date%></td>
    <td><%=c.transaction.site_name%></td>
    <td><%=c.transaction.name_subname%>
    <td><%=c.ui_number%></td>
    <td><%=c.price%></td>
    <td> <%=c.ui_amount%></td>
          
   </tr>
   <%}%>
   <tr class="warning">
    <td><b>Total</b></td>
    <td></td>
    <td></td>
    <td><%=@all_numbers%></td>
    <td></td>
    <td> <%=@all_sum%></td>
          
   </tr>
  </tbody>

</table>
   </div>
</div>

<script type="text/javascript">

$('.report-date').datepicker({ dateFormat: 'dd-mm-yy',
    beforeShow: function (textbox, instance) {   
                instance.dpDiv.css({
                    marginTop: (-textbox.offsetHeight+30) + 'px'
                    
                });
            }

 });

function clear_fields(){
  console.log('test1');
  $('.report-date').val('');

  
}


</script>